---
layout: default
title: Strats Let Loose
---

<div class="container">
    <div class="alert alert-light" role="alert">
        Made in combination with accessibility and special structure overlays in
        <a href="https://mattw.io/maps-let-loose/">Maps Let Loose</a>.
    </div>

    <div class="row">
        {% assign strats = site.data.strats.data %}
        {% for strat in strats %}
        {% if strat.name != "" %}
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="./assets/{{strat.thumb}}" target="_blank">
                            <img src="./assets/{{strat.thumb}}" class="img-fluid rounded-start">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{strat.name}}</h5>
                            {% if strat.methods != "" %}
                            <p class="card-text">
                                Method(s): {{strat.methods}}
                            </p>
                            {% endif %}

                            {% if strat.worksOn != "" %}
                            <p class="card-text-">
                                Works on: {{strat.worksOn}}
                            </p>
                            {% endif %}

                            {% if strat.usefulFor != "" %}
                            <p class="card-text">
                                Useful for: {{strat.usefulFor}}
                            </p>
                            {% endif %}

                            {% if strat.notes != "" %}
                            <p class="card-text">
                                {{strat.notes}}
                            </p>
                            {% endif %}

                            {% if strat.link != "" %}
                            <p class="card-text">
                                <a href="{{strat.link}}" target="_blank">{{strat.link}}</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>


