---
layout: default
title: Strats Let Loose
---

<div class="container">
    <h2>About</h2>
    <ul style="line-height:175%">
        <li>
            Strats listed are mildly outdated and partially updated for U13-U15.
            Many things involving prone jump no longer work. Some can be substituted with the (sideways) crouch jump.
        </li>
        <li>
            Made in combination with accessibility and special structure overlays in
            <a href="https://mattw.io/maps-let-loose/" target="_blank">Maps Let Loose</a>
        </li>
        <li>
            Several things listed have been found and reproduced by periodically checking public steam screenshots for
            the game
            <a href="https://steamcommunity.com/app/686810/screenshots/?p=1&browsefilter=mostrecent" target="_blank">here</a>.
            See something that looks weird? Figure out where it is and how to do it.
        </li>
        <li>
            Check the <a href="https://hllseasonal.com/" target="_blank">Seasonal</a> discord <i>#rules</i> channel to
            determine what is and isn't allowed in comp.
        </li>
        <li>
            Thanks for additional assistance, help, and tips for some strats from xware_dogx, PipePistoleer,
            RyanCraig37, and Babyburn.
        </li>
        <li>
            Created by Winston, last updated: {{ site.time | date_to_xmlschema }}
        </li>
    </ul>

    <br>
    <h2>Strats</h2>
    <p>Forbidden knowledge</p>

    <div class="row">
        {% assign strats = site.data.strats.data %}
        {% for strat in strats %}
        {% if strat.name != "" %}
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="./assets/{{strat.thumb}}" target="_blank">
                            <img src="./assets/{{strat.thumb}}" class="img-fluid rounded-start" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{strat.name}}
                                {% if strat.thanks %}
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip"
                                   data-bs-title="Thanks: {{strat.thanks}}"></i>
                                {% endif %}
                                {% if strat.credit %}
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip"
                                   data-bs-title="Credit: {{strat.credit}}"></i>
                                {% endif %}
                            </h5>
                            {% if strat.methods != "" %}
                            <p class="card-text">
                                Method(s): {{strat.methods}}
                            </p>
                            {% endif %}

                            {% if strat.worksOn != "" %}
                            <p class="card-text-">
                                Works on: {{strat.worksOn}}
                            </p>
                            {% endif %}

                            {% if strat.usefulFor != "" %}
                            <p class="card-text">
                                Useful for: {{strat.usefulFor}}
                            </p>
                            {% endif %}

                            {% if strat.notes != "" %}
                            <p class="card-text">
                                {{strat.notes}}
                            </p>
                            {% endif %}

                            {% if strat.link != "" %}
                            <p class="card-text">
                                <a href="{{strat.link}}" target="_blank">{{strat.link}}</a>
                            </p>
                            {% endif %}

                            {% for link in strat.links %}
                            <p class="card-text">
                                <a href="{{link}}" target="_blank">{{link}}</a>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h2 style="margin-top:25px">Old strats</h2>
    <p>Strats that have since been patched and no longer work.</p>

    <div class="row">
        {% assign old_strats = site.data.strats.old_data %}
        {% for strat in old_strats %}
        {% if strat.name != "" %}
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="./assets/{{strat.thumb}}" target="_blank">
                            <img src="./assets/{{strat.thumb}}" class="img-fluid rounded-start" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{strat.name}}
                                {% if strat.thanks %}
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip"
                                   data-bs-title="Thanks: {{strat.thanks}}"></i>
                                {% endif %}
                                {% if strat.credit %}
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip"
                                   data-bs-title="Credit: {{strat.credit}}"></i>
                                {% endif %}
                            </h5>
                            {% if strat.methods != "" %}
                            <p class="card-text">
                                Method(s): {{strat.methods}}
                            </p>
                            {% endif %}

                            {% if strat.worksOn != "" %}
                            <p class="card-text-">
                                Worked on: {{strat.worksOn}}
                            </p>
                            {% endif %}

                            {% if strat.usefulFor != "" %}
                            <p class="card-text">
                                Useful for: {{strat.usefulFor}}
                            </p>
                            {% endif %}

                            {% if strat.notes != "" %}
                            <p class="card-text">
                                {{strat.notes}}
                            </p>
                            {% endif %}

                            {% if strat.link != "" %}
                            <p class="card-text">
                                <a href="{{strat.link}}" target="_blank">{{strat.link}}</a>
                            </p>
                            {% endif %}

                            {% for link in strat.links %}
                            <p class="card-text">
                                <a href="{{link}}" target="_blank">{{link}}</a>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <h2 style="margin-top:25px">Unconfirmed</h2>
        <p>Images or videos that could not be reproduced or exact location unknown</p>

        <div class="row">
            {% assign unconfirmed_strats = site.data.strats.unconfirmed_data %}
            {% for strat in unconfirmed_strats %}
            {% if strat.name != "" %}
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./assets/unknown.webp" class="img-fluid rounded-start" loading="lazy">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{strat.name}}</h5>

                                {% if strat.notes != "" %}
                                <p class="card-text">
                                    {{strat.notes}}
                                </p>
                                {% endif %}

                                {% for link in strat.links %}
                                <p class="card-text">
                                    <a href="{{link}}" target="_blank">{{link}}</a>
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>


